.home {
  display: grid;
  grid-template-areas: 'searcher'
                       'pokemon-list';
}
.home .header {
  grid-area: searcher;
}
.pokemons-board {
  grid-area: pokemon-list;
  width: 90%;
  margin: auto;
}
.pokemons {
  display: flex;
  flex-wrap: wrap;
}