.home {
  display: grid;
  grid-template-areas: 'searcher'
                       'pokemon-list';
}
.home .header {
  grid-area: searcher;
}
.pokemons-board {
  grid-area: pokemon-list;
  width: 90%;
  margin: auto;
}
.pokemons {
  display: flex;
  flex-wrap: wrap;
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0 1em;
}
.options label {
  margin-right: 0.5em;
  font-weight: bold;
}
.options input {
  width: 3em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: .25em;
  outline: none;
}