* {
  margin: 0;
  padding: 0;
}

.navlink {
  font-weight: 600;
}

.card-color-default {
  background-color: #F2F2F2;
}

.card-color-green {
  background-color: #8BBE8A;
}

.card-color-purple {
  background-color: #9F6E97;
}

.card-color-orange {
  background-color: #FFA756;
}

.card-color-blue {
  background-color: #58ABF6;
}

.card-color-dark-green {
  background-color: #8BD674;
}

.card-color-gray {
  background-color: #B5B9C4;
}

.card-color-yellow {
  background-color: #F2CB55;
}

.card-color-dark-orange {
  background-color: #F78551;
}

.card-color-brown-gray {
  background-color: #D4C294;
}

.card-color-pink {
  background-color: #EBA8C3;
}

.card-color-dark-blue {
  background-color: #4C91B2;
}

.card-color-violet {
  background-color: #8571BE;
}

.card-color-dark-pink {
  background-color: #EB4971;
}

.card-color-light-blue {
  background-color: #91D8DF;
}

.card-color-orange-pink {
  background-color: #FF6568;
}

.card-color-gray-blue {
  background-color: #7383B9;
}

.card-color-dark-gray {
  background-color: #D4C294;
}

.card-color-light-blue-2 {
  background-color: #91D8DF;
}

.card-color-dark-pink {
  background-color: #FF6568;
}

.card-color-dark-pink-2 {
  background-color: #EB4971;
}

.card-color-dark-blue {
  background-color: #7383B9;
}

.card-color-violet {
  background-color: #8571BE;
}

.card-color-dark-blue-2 {
  background-color: #4C91B2;
}
