.category-tag {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 3px;
}

.category-tags-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75em;
  border-radius: 50%;
  width: max-content;
}

.category-green {
  background-color: #62B957;
}

.category-purple {
  background-color: #A552CC;
}

.category-orange {
  background-color: #FD7D24;
}

.category-blue {
  background-color: #4A90DA;
}

.category-dark-green {
  background-color: #8CB230;
}

.category-gray {
  background-color: #9DA0AA;
}

.category-light-blue {
  background-color: #748FC9;
}

.category-yellow {
  background-color: #EED535;
}

.category-dark-orange {
  background-color: #DD7748;
}

.category-dark-gray {
  background-color: #BAAB82;
}

.category-pink {
  background-color: #ED6EC7;
}

.category-dark-pink {
  background-color: #EA5D60;
}

.category-dark-pink-2 {
  background-color: #D04164;
}

.category-light-blue-2 {
  background-color: #61CEC0;
}

.category-dark-blue {
  background-color: #0F6AC0;
}

.category-violet {
  background-color: #556AAE;
}

.category-dark {
  background-color: #58575F;
}

.category-dark-blue-2 {
  background-color: #417D9A;
}



