.pokemon-card {
  border-radius: 8px;
  padding: 2.5em 1em;
  position: relative;
  display: flex;
  align-items: center;
  margin: 1rem;
  flex: 1 1 225px;
  color: inherit;
  text-decoration: none;
}

.categories-tags {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 16px;
}
