.pokemon-card {
  border-radius: 8px;
  background-color: #82be82;
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 2rem;
}

.categories-tags {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 16px;
}