.pokemon-card {
  border-radius: 8px;
  padding: 2.5em 1em;
  position: relative;
  display: flex;
  align-items: center;
  margin: 1rem;
  flex: 1 1 225px;
}

.categories-tags {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 16px;
}

.category-green {
  background-color: #8BBE8A;
}

.category-purple {
  background-color: #9F6E97;
}

.category-orange {
  background-color: #FFA756;
}

.category-blue {
  background-color: #58ABF6;
}

.category-dark-green {
  background-color: #8BD674;
}

.category-gray {
  background-color: #B5B9C4;
}

.category-yellow {
  background-color: #F2CB55;
}

.category-dark-orange {
  background-color: #F78551;
}

.category-dark-gray {
  background-color: #BAAB82;
}

.category-pink {
  background-color: #EBA8C3;
}