.navlink {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.game-btn {
  padding: 1em 3em;
  border-radius: 10px;
  background-color: #EA5D60;
  color: #fff;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.detail-btn {
  padding: 1em 3em;
  border-radius: 10px;
  background-color: #EA5D60;
  color: #fff;
  border: none;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tab {
  width: 100%;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  border-bottom: 3px solid #17171B80;
  color: #17171B80;
  font-size: 1.125em;  
  font-weight: 700;
}

.tab.active {
  color: #EA5D60;
  border-bottom: 3px solid #EA5D60;
}