.pokemon-name {
  font-size: 32px;
  text-transform: capitalize;
}

.pokemon-id {
  font-size: 12px;
}

.color-white {
  color: #fff;
}

.color-black {
  color: #000;
}

.pokemon-category {
  color: #fff;
  font-size: 10px;
  text-transform: capitalize;
}

.searcher {
  font-size: 12px;
  color: #fff;
  margin-top: 1em;
}

.language {
  color: #fff;
  font-weight: 700;
}

